.tc {
    text-align: center;
}

.text-color {
    font-family: 'Verdana', sans-serif !important;
    text-shadow: 2px 2px 1px #6B6788;
    color: #fff;
    font-size: 20px;
}

.position {
    width: 50%;
    margin: 0 25%;
}

.p5r {
    padding-top: 5rem;
}

.card-backend {
    background-image: url("../../images/190606-untitled-design-11.webp");
    opacity: 0.6;
    min-height: 40px;
    padding-top: 5px;
    max-width: 450px;
}

.backend {
    background-image: url("../../images/nasa-stars-hd-1080P-wallpaper.jpg");
    background-position: top;
    min-height: 650px;
}

.my-coll-backend {
    background-image: url('../../images/Nasty Nebula Hubble.jpg');
    background-position: center;
    border-top: 2px gray dashed;
    border-bottom: 2px gray dashed;
}

.my-coll {
    min-height: 700px;
    padding-top: 50px;
}

.w {
    color: #6B6788;
}

.title-my-coll {
    height: 70px;
    width: 1000px;
    background-image: url("../../images/sky+photo+for+website+home+page.jpeg");
}

.title-my-coll-2 {
    height: 70px;
    width: 1000px;
    background-image: url("../../images/Nasty Nebula Hubble.jpg");
}

h2 {
    font-family: cursive;
    font-weight: bold;
    text-shadow: -1px -1px #000,
    0 1px 0 #444;
    color: #002550;
    transition: all 1s;
}
h2:hover {
    text-shadow: -1px -1px #000,
0 1px 0 #444;
    color: #1A1A1A;
}

.create-coll {
    color: white;
    font-style: italic;
}

.op {
    opacity: 0.6;
}
